
page-about{
    $whiteText:  #ffffff;
    #cardRule {
        background-color: #488aff;
        p{
            color: $whiteText;
        }
    }
       
    #cardAbout {
        background-color: #488aff;
        p{
            color: $whiteText;
        }
    }          
    
}