  <ion-header>
    <ion-navbar>
      <ion-title>Let's count coins!</ion-title>
    </ion-navbar>
  </ion-header>
<ion-content padding class="game-page">

  <div *ngIf="selectedICurrency">
    <div>
      <p> {{selectedICurrency.symbol_prefix}} {{price}} {{selectedICurrency.symbol_suffix}} </p>

      <img *ngFor='let currencyCoinNominal of selectedICurrency.nominal' width="75" height="75" [src]="getImageSourceByNominal(selectedICurrency.code, currencyCoinNominal)"
        (click)="createCoin(selectedICurrency.code, currencyCoinNominal);" />
        
    </div>
      <p *ngIf="showHint"> {{selectedICurrency.symbol_prefix}} {{hint}} {{selectedICurrency.symbol_suffix}}</p>

      <button ion-button round (click)="showResult()"> Done</button>

      <ion-grid>
        <ion-row>
          <ion-col col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 id=gridCoins>
            <!-- This column will be 12 columns wide by default,
              9 columns at the small breakpoint, 
              6 at the medium breakpoint, 4 at large, and 3 at xl.--> 
            <img *ngFor='let coin of selectedICoins' width="75" height="75" [src]="getImageSourceByNominal(coin.coinCode, coin.coinNominal)"
              (click)="removeCoin(coin.id);" />
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </div>
</ion-content>