page-home {
    $whiteText:  #ffffff;
    #cardTitle{
        background-color: #488aff;
        h2{
            color: $whiteText;
        }
    }     
   p{
    font-size:large;
   } 
  
}
.alert-danger {
    .alert-head {
      background: map-get($colors, danger);
      
    }
  }
  .alert-success {
    .alert-head {
      background: map-get($colors, secondary);
     
    }
  }